.album-web {
  background: rgb(255, 251, 251);
  text-align: center;
}

/* 内页样式 */
.page {
  background-color: #fffbe6;
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.cover {
  /* background-color: rgb(251, 225, 139); */
  /* box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69); */
  background-image: url('bg.jpg'); /* 注意路径相对于 public 文件夹 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);

  width: 100%;
  height: 100%;
}

.btn,
.form-control {
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  appearance: none;
  font-size: 1em;
  line-height: 1.2;
  padding: 0.5em var(--padding-x);
  border-width: 2px;
  border-style: solid;
}
.btn {
  background-color: aquamarine;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  --padding-x: 1.2em;
  border-color: transparent;
}
.form-control {
  --padding-x: 0.5em;
}

input {
  text-align: center;
}

.formContainer {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartoon-text {
  font-family:
    "Comic Sans MS",         /* Windows、部分安卓 */
    "Chalkboard SE",         /* iPad / macOS */
    "Sniglet",               /* 一些安卓内置圆润字体 */
    "Baloo 2",
    "Nunito",
    sans-serif;              /* 最后兜底 */
  font-size: 22px;
  color: #000; /* 黑色字体 */
  text-shadow: 2px 2px 0 #fff, 3px 3px 0 #ffccff;
  letter-spacing: 1px;
  line-height: 1.6;
}


.cover h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 3rem; /* 根据需要调整大小 */
  color: #333;      /* 字体颜色 */
}


